/ML-GCN/data/voc/files
/ML-GCN/data/voc/tmp
/ML-GCN/data/voc/VOCdevkit
/ML-GCN/data/glove_word_embeddings
/ML-GCN/ESP-ImageSet/
/ML-GCN/.ipynb_checkpoints/
/ML-GCN/Untitled.ipynb
/ML-GCN/__pycache__/
/ML-GCN/data/iaprtc/classification_test.csv
/ML-GCN/data/iaprtc/classification_trainval.csv
/ML-GCN/data/iaprtc/iaprtc12.20091111/
/ML-GCN/data/iaprtc/iaprtc12/
/ML-GCN/temp.py
/ML-GCN/checkpoint/
/ML-GCN/data/espgame/ESP-ImageSet
/ML-GCN/data/espgame/tmp
/ML-GCN/data/iaprtc/tmp
/ML-GCN/*.ipynb
/GCN_ML_Binary/*.ipynb
/GCN_ML_Binary/gcn_env/
/GCN_ML_Binary/.ipynb_checkpoints/
/GCN_ML_Binary/__pycache__/
/data/iaprtc12/iaprtc12/
/data/iaprtc12/classification_trainval.csv
/data/iaprtc12/classification_test.csv
/KNN/iaprtc12_knn_output.csv
/Parameters/results_knn.csv
/data/iaprtc12/GCN_ML_Binary_Datasets/agg_features_train_2000.pkl
/data/iaprtc12/GCN_ML_Binary_Datasets/agg_features_test_2000.pkl